/*
esto es un comentario
este es otro comentario
*/
/*todos los h1 del documento*/
h1 {
  color:blue;
}

/*
selector {
    atributo:valor;
}
*/
h2 {
    color:rgb(100,50,10);
    front-size: 45px;
}
p{
    color:brown;
}

/* selector por ID*/
#parrafoAzul {
    color:blue;
    font-family: "silkscreen", cursive;
}
 /*selector por clase*/
 .claseParrafoAzul {
    color:cadetblue;

 }
.caja {
    background-color: aqua;
    height: 100px;
    font-size: 16px;
}

.caja {
    color:black;
}
.textoItalic {
    font-style: italic;
}
.textoBold  {
    font-weight: Bold;
    font-family: "Roboto", sans-serif;
}

/*fuente externa*/
 *  {
    font-family: "Roboto", sans-serif;

    /*colores*/
    /*RBG(0,0,0)*/
    /*RGB(100,50,10)*/
    /*RGB(255,255,255)*/


    p.color {
         color:#12bc12;


    }
    /*rgb + alpha (0 - 1 ) */
    p.colorAlpha {
        font-size: 50px;
        color: rgb(5,75,20)
    }

